  .gold-info-section{
        width: 100%;

    }
    .gold-info-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gold-features-and-button {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 20px;
        gap: 20px   ;
    }
    .gold-features{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px   ;
    }
    .gold-features .feature{
        display: flex;
       
        justify-content: space-between;
        align-items: center;

        width: 100%;
        gap: 15px;
    }
    .gold-features .feature img{
        width: 30px;
        height: 30px;
    }
    .apply-button{
padding: 10px;
margin-top: 10px;
width: 100%;
display: flex;
justify-content: end;
    }
    .apply-button button{
        width: 180px;
        padding: 15px;
        background-color:#044697 ;
        color: white;
        border: none;
        cursor: pointer;
    }
    .gold-description{
        width: 50%;
    }
    .gold-description p{
        color: black;
        padding: 15px;
        line-height: 2.5;
    }
@media(max-width:780px  ){
    .gold-info-container {
        flex-direction: column;
    }
    .gold-description {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .gold-description p {
        text-align: center;
    }
    .gold-features-and-button {
        width: 100%;
    }
    .gold-features .feature img {
  width: 25px;
  height: 25px;
}
}