<link rel="stylesheet" href="~/css/Gold/benefit.css" asp-append-version="true">
<div class="benefit">
        <div class="right">
            <div class="card-item">
                <div class="card-content">
                <h3>Make repayment online at your convenience </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>Quick Processing</span>
                </p>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>Minimal Documentation</span>
                </p>
                
                </div>
            </div>
            <div class="card-item">
                <div class="card-content">
                <h3>Experience doorstep gold loan services  </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        Our team of experienced professionals will visit your home or office to assess your gold items and provide a fair valuation.
                    </span>
                </p>
            </div>
            </div>  
            <div class="card-item">
                <div class="card-content">
                <h3>Interest rate starting from : 12% </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        We offer competitive interest rates starting from 12% per annum, ensuring you get the best value for your gold.
                    </span>
                </p>
            </div>
            </div>
            <div class="card-item">
                <div class="card-content">
                <h3>Minimal Documentation </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                            <span>
                                We require minimal documentation, including your identity proof, address proof, and gold item details.
                            </span>
                </p>
            </div>
            </div>
            <div class="card-item">
                <div class="card-content">
                <h3>Flexible repayment options </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        Choose from various repayment options, including monthly, quarterly, or yearly installments, to suit your financial needs.
                    </span>
                </p>
            </div>
            </div>
              <div class="card-item">
                <div class="card-content">
                <h3>Digitised Process</h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        We offer a digitised process for a seamless and hassle-free experience.
                    </span>
                </p>
            </div>
            </div>
        </div>
    </div>