 <section class="welcome-container"
        style="background-image: url(images/welcome/goldloan.jpg);">
        <h1 >Gold Loan
            </h1>
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - Gold Loan</a></p>
     </div>

    </section>
    <style>
        a{
                color: white;
                text-decoration: none;
        }
         

        .welcome-container{
            height: 300px;
        }

    </style>