

<link rel="stylesheet" href="~/css/contact/contact.css" asp-append-version="true">
<section class="contact">
        <div class="contact-container">
            <div class="address">
                <div class="item">
                    <div class="image">
                        <img src="images/icon/maps-and-flags.png" alt="" srcset="">
                    </div>
                    <p>
                        Door No: 28/315 D2, 3rd Floor ,Ottappath Tower, Aswini Junction,Patturaikkal, Thiruvambady-PO,
                        Thrissur, Kerala-680022
                    </p>

                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/icon/mail.png" alt="" srcset="">
                    </div>
                    <p>mail@yogloans.com</p>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/icon/telephone.png" alt="" srcset="">
                    </div>
                    <p>0487-2320102,2320103</p>
                </div>
            </div>
            <form action="">
                <h2> GET IN TOUCH WITH US </h2>
                <label for="">Full Name</label>
                <input type="text">
                <label for="">Email Address</label>
                <input type="text">
                <label for="">Mobile Number</label>
                <input type="number">
                <label for="">Full Address</label>
                <textarea name="" id=""></textarea>
                <button>Send Enquiry</button>
            </form>

        </div>
    </section>