  
  <link rel="stylesheet" href="~/css/Gold/section.css" asp-append-version="true">
   <section class="gold-info-section">
        <div class="gold-info-container">
            <div class="gold-description">
                <p>A Vehicle Loan is a convenient and secure way to access instant funds by pledging your vehicle as collateral. With minimal documentation and quick processing, it is an ideal solution for urgent financial needs such as business expansion, medical emergencies, or education expenses. The loan amount is determined based on the value of the vehicle, offering competitive interest rates and flexible repayment options to suit your needs.  </p>
            </div>
            <div class="gold-features-and-button">
                <div class="gold-features">
                    <div class="feature">
                        <img src="images/icon/checklist.png" alt="Quick Processing">
                        <span>
                            Low interest rate.  </span>
                    </div>
                    <div class="feature">
                        <img src="images/icon/checklist.png" alt="Minimal Documentation">
                        <span> 
                            Loan amount upto Rs.200000.  </span>
                    </div>

                    <div class="feature">
                        <img src="images/icon/checklist.png" alt="Competitive Rates">
                        <span>
                            

                            Maximum duration 48 month.  </span>
                    </div>
                </div>
                <div class="apply-button">
                    <button onclick="window.location.href='apply.html'">Apply Now →</button>
                </div>
            </div>
        </div>
    </section>