 @model List<yogloansdotnet.Models.HomwelcomeModel> 

  <section class="welcome-container"
    style="background-image: url(@(Model.FirstOrDefault()?.Image1 ?? ""))" id="welcome-desktop">
        <h1 >Vehicle Loan
            </h1>
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - Vehicle Loan</a></p>
     </div>

    </section>



    

    <section class="welcome-container"
    style="background-image: url(@(Model.FirstOrDefault()?.Image2 ?? ""))" id="welcome-mobile">
       <h1 >Vehicle Loan
            </h1>
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - Vehicle Loan</a></p>
     </div>
</section>
<style>
    .welcome-container{
        height: 300px;
    }
    a{
        text-decoration:none;
        color:white;
    }
    #welcome-mobile { display: none; }
    #welcome-desktop { display: flex; }
    @@media (max-width: 767px) {
        #welcome-desktop { display: none; }
        #welcome-mobile { display: flex; }
    }
</style>