 <section class="welcome-container"
      style="background-image: url(images/welcome/medium-shot-woman-with-white-house.jpg);">
        <h1 >Nearby Branches
        
            </h1>
    <div class="button">
             <p><a href="/Contact">Contact</a>  <a href=""> - Nearby Branches</a></p>
     </div>

    </section>
    <style>
        a{
                color: white;
                text-decoration: none;
        }
         

        .welcome-container{
            height: 300px;
        }

    </style>