<link rel="stylesheet" href="~/css/online15g/form.css" asp-append-version="true">
<div class="details">
    <div class="header">
        <h2>Submit 15G</h2>
    </div>
    <div id="form"></div>
</div>
<input type="hidden" value="@ViewBag.CustomerId" id="customer_id">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/online15/script.js" asp-append-version="true"></script>
