  <link rel="stylesheet" href="~/css/home/about.css" asp-append-version="true">
  <div class="about-container">
        <div class="content">
            <p>Who We Are </p>
            <p>Yogakshemaam Loans is a leading financial institution that offers a wide range of loan products to meet
                the diverse financial needs of individuals and businesses. With a commitment to providing exceptional
                service and innovative solutions, we aim to empower our clients to achieve their financial goals.</p>
            <button>Know More +</button>
        </div>
    </div>