<link rel="stylesheet" href="~/css/home/clients.css" asp-append-version="true">
 <div class="client-counts">
        <div class="content">
            <div class="item" style="display: flex; justify-content: center;">
                <p style="text-align: center;" id="asset"></p>
                <p>Asset Under Management </p>
            </div>
            <div class="item">
                <p id="customer"></p>
                <p>Happy Customers </p>
            </div>
            <div class="item">
                <p id="Employee"></p>
                <p>Employee Strength </p>
            </div>
            <div class="item">
                <p id="branch"></p>
                <p>Branches </p>
            </div>
        </div>
    </div>