<link rel="stylesheet" href="~/css/home/loanitem.css" asp-append-version="true">
 <section class="loan-items">
        <div class="item-container">
            <div class="item active" id="gold">
                <img src="images/icon/gold.png" alt="" srcset="">
                <p>Gold Loan</p>
            </div>
            <div class="item" id="business">
                <img src="images/icon/cooperation.png" alt="" srcset="">
                <p>Business Loan</p>
            </div>
            <div class="item" id="cd">
                <img src="images/icon/electric-appliances.png" alt="" srcset="">
                <p>CD Loan</p>
            </div>
            <div class="item" style="border:none;" id="vehicle">
                <img src="images/icon/bike.png" alt="" srcset="">
                <p>Vehicle Loan</p>
            </div>
        </div>
    </section>

       <section class="loan-item-details">
        <div class="detail">
            <p id="detail-para">
                A Gold Loan is a convenient and secure way to access instant funds by pledging your gold ornaments as
                collateral. With minimal documentation and quick processing, it is an ideal solution for urgent
                financial needs such as business expansion, medical emergencies, or education expenses. The loan amount
                is determined based on the purity and weight of the gold, offering competitive interest rates and
                flexible repayment options to suit your needs.
            </p>
            <ul>
                <li id="point1">
                    <img src="images/icon/checklist.png" alt="" srcset=""> Quick Processing
                </li>
                <li id="point2"> <img src="images/icon/checklist.png" alt="" srcset=""> Minimal Documentation</li>
                <li id="point3"> <img src="images/icon/checklist.png" alt="" srcset=""> Competitive Rates</li>
                <button>Apply Now</button>
            </ul>
        </div>
    </section>