 
 <link rel="stylesheet" href="~/css/policy/policy.css" asp-append-version="true">
  <div class="report-cards">
        <div class="section">
          <div class="section-item">
            <h3>KYC Policy</h3>
            <p>The Reserve Bank of India, (hereafter in this policy referred to as RBI) has issued on 4th
              January 2024 the updated direction namely Reserve Bank of India (Know Your Customer
              (KYC) Directions, 2016. (Hereafter in this policy referred to as the Directions). The said
              directions are applicable to all regulated entity which includes NBFCs as well. In terms of
              Para 4 of the Directions, the company shall put in place a Know Your Customer Policy (KYC
              ) policy duly approved by the Board</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/KYCpolicy.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Policy on Income Recognition </h3>
            <p>TAs of now, the company is a Non-Systemically important Non-Banking Finance Company, within the
              meaning of the Master Direction - Non-Banking Financial Company–Non-Systemically Important Non-
              Deposit taking Company (Reserve Bank) Directions, 2016. (Hereafter referred to as the Master
              Direction) As such it shall follow, the prudential norms prescribed by the Reserve Bank of India for
              such companies from time to time. This policy set outs the principles and approach of the company
              towards income recognition and asset classification, provisioning and its disclosures in the financial
              statements. This policy has been prepared in accordance with the provisions contained in Chapter IV of
              the Master direction updated on 9th March 2017.</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/income.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Policy on Compromise Settlements And Technichal Write-Off Loan Accounts</h3>
            <p>The Reserve Bank of India (RBI) has come up with a frame work for Compromise
              Settlements and Technical Write-offs of loan account wide its circular No
              DOR.STR.REC.20/21.04.048/2023-24 dated 8th June 2023. The Circular is applicable for all
              NBFCs . Under this frame work the Company shall put in place a Board approved policy for
              compromise settlements with borrowers and for technical write offs</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/compromise.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Policy on interst and other charges </h3>
            <p>T2
              Preamble,
              This policy has been framed as required under the Master Circular issued by Reserve Bank of
              India vide circular DNBS..PD.CC No.054 / 03.10.119 / 2015-16 dated 1st July 2015 and stand
              amended in terms of the Master Direction- RBI (NBFC Scale Based Regulation)
              Directions,2023 RBI/DoR/2023-24/105 dated October 19, 2023. This policy will be the
              guiding principles for determination of interest and other charges to be levied while
              transacting its business.</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/interest.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>YLL Loan Policy</h3>
            <p>The Loan Policy shall act as a guiding post for the top management of the Company in conducting
              the business of lending within acceptable risk tolerances and thus ensure the evolution of a
              sustainable business model resulting in both long term profitability and value creation for its stake
              holders.</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/loan.pdf" target="_blank">
                    Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Auction Policy</h3>
            <p> The core business of YOGAKSHEMAM LOANS Ltd (the Company) consists of lending against
              the collateral security of gold ornaments (gold), normally „Household Used Jewellery‟ (HUJ). The
              inherent strength in such security is that it ensures automatic and prompt repayment of loans on the
              basis of the presumed „emotional attachment‟ of the borrower to such HUJ</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/auction.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Dividend Policy</h3>
            <p>This policy on appropriation of profit and Declaration of dividend is framed to act as guiding
              principles for appropriation and distribution of profit of the company for different purposes.
              Reserve Bank of India (RBI) has issued a circular No.
              DOR.ACC.REC.No.23/21.02.067/2021-22 dated 24th June 2021 putting in place certain
              guidelines on distribution of dividend by NBFC and this policy is in line with the said
              circular.</p>
              <div class="pdfs">
                <a href="pimages/pdf/policiesitems/dividend.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Co-lending policy</h3>
            <p>The Company intends to explore the emerging opportunities of loan origination along
              with Banks under co-lending arrangements getting momentum now a days in view of the
              regulatory enablement. This will help the Company to optimise its resources for
              generating loans and growing revenue without expanding the capital base that may be
              required for such business growth otherwise</p>
              <div class="pdfs">
                <a href="images/pdf/policiesitems/co-lending.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
   
</div>
