 
 <link rel="stylesheet" href="~/css/policy/policy.css" asp-append-version="true">
  <div class="report-cards" id="policy-report">
     
</div>
<script>
  $.ajax({
    url : "/policy",
    method : "GET",
   success : function(response){
        console.log( response); // Shows the array
        if (Array.isArray(response) && response.length > 0) {
            response.forEach(function(item) {
               $('#policy-report').append(`
                   <div class="section">
          <div class="section-item">
            <h3>${item.title}</h3>
          <iframe src="${item.filePath}" width="100%" height="300px"></iframe>

              <div class="pdfs">
                <a href="${item.filePath}" target="_blank">Download PDF</a>
              </div>
          </div> 
        </div>
               `);
            });
        } else {
            console.warn("Response is empty or not an array");
        }
    }
  })
</script>