   <section class="welcome-container"
        style="background-image: url(images/welcome/policy.jpg);">
        <h1 >Policies
            </h1><!--    <p id="sub">Experience Door Step Gold Loan Services</p>  -->
    <div class="button">
              <p><a href="/">Home</a>  <a href=""> - Policies</a></p>
     </div>

    </section>

    <style>
        .welcome-container{
            height: 300px;
        }
    </style>