   <link rel="stylesheet" href="~/css/investor/creditrate.css" asp-append-version="true">
   <div class="credit-rating">
        <div class="credit-rating-content">
            <div class="header">
                <h3>Credit Rating & NBFC Registration</h3>
            </div>
            <div class="body">
                <div class="card">
                    <div class="image">
                        <img src="images/crisil.jpg" alt="" srcset="">
                    </div>
                    <div class="content">
                        <p style="text-transform: capitalize; color: black;">Rating </p>
                        <p style="text-transform: uppercase; color: black;">BBB ( - )</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="images/rbi.jpg" alt="" srcset="">
                    </div>
                    <div class="content">
                        <p style="color: black;">WE HAVE BEEN REGISTERED AS NBFC WITH RBI SINCE 2000</p>
                        <!--     <p>BBB ( - )</p> -->
                    </div>
                </div>
            </div>

        </div>
    </div>