  
<link rel="stylesheet" href="~/css/about/director.css" asp-append-version="true">
   <div class="customer-content" style="position: relative; flex-direction: column; background-color: white;  align-items: start; margin-top: 50px;">
        <div class="sec1" style="position: relative; justify-content: start;">
            <p style="color: #044697;">Board Of Directors <span></span></p>
            <h2>Meet Our Directors</h2>
        </div>
     
        <div id="owl-demo2" class="owl-carousel">
            <div class="allitem">
                <div class="blog-allof" style="border: none ; background-image: url(images/directors/ramachandran.jpg);" id="director" >
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                          Ramachandran Ottapathu
                        </p>
                        <p>
                            Chairman 
                        </p>
                    </div>
                </div>
               <!--  <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>Sarah</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            The loan process was smooth and quick. Very professional service!
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="allitem">
                 <div class="blog-allof" style="border: none; background-image: url(images/directors/unnikrishnan.jpg);" id="director" >
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Unnikrishnan I
                        </p>
                        <p>
                            Managing Director 
                        </p>
                    </div>
                    </div>
                <!-- <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>Michael</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            Excellent customer support and transparent process. Highly recommended!
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/santosh.jpg);" id="director">
                    <div class="view">
                        <i class="fas fa-eye" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Santosh Kurup
                        </p>
                        <p>
                            Independent Director 
                        </p>
                    </div>
                    </div>
               <!--  <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>Emma</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            Got my loan approved within 24 hours. Amazing experience!
                        </p>
                    </div>
                </div> -->
            </div>

            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/vijayan.jpg);" id="director" >
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            N D Vijayan
                        </p>
                        <p>
                            Non-Executive Director 
                        </p>
                    </div>
                    </div>
               <!--  <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>David</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            The interest rates are very competitive. Will definitely use again!
                        </p>
                    </div>
                </div> -->
            </div>
    <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/unnirajan.jpg);" id="director" >
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            P.N.Unnirajan
                        </p>
                        <p>
                            Non-Executive Director 
                        </p>
                    </div>
                    </div>
               <!--  <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>David</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            The interest rates are very competitive. Will definitely use again!
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/Mohandas.jpg);" id="director" >
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Mohandas Anchery
                        </p>
                        <p>
                            Independent Director 
                        </p>
                    </div>
                    </div>
               <!--  <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>David</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            The interest rates are very competitive. Will definitely use again!
                        </p>
                    </div>
                </div> -->
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/Silpa.jpg);" id="director" >
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Silpa Ramdas
                        </p>
                        <p>
                            Independent Director 
                        </p>
                    </div>
                    </div>
               <!--  <div class="blog-allof">
                    <div class="name" style="display: flex;">
                        <p>David</p>
                        <img src="about-3-1.png" alt="">
                    </div>
                    <div class="discretion-blog">
                        <p id="message">
                            The interest rates are very competitive. Will definitely use again!
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="customer-content" style="position: relative; flex-direction: column; background-color: white;  align-items: start; margin-top: 50px;">
        <div class="sec1" style="position: relative; justify-content: start;">
            <p style="color: #044697;">Senior Management Team <span></span></p>
            <h2>Meet Our Leadership</h2>
        </div>
     
        <div id="owl-demo3" class="owl-carousel">
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/Rajeshkumar.jpg);" id="director">
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Rajeshkumar.K
                        </p>
                        <p>
                            EVP & Company Secretary 
                        </p>
                    </div>
                </div>
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/Sreenivas.jpg);" id="director">
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            K.K.Sreenivas 
                        </p>
                        <p>
                            VP-Credit & Branch Operations 
                        </p>
                    </div>
                </div>
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/prasad.jpg);" id="director">
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Prasad.P
                        </p>
                        <p>
                            Chief Financial Officer 
                        </p>
                    </div>
                </div>
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/Shaju.jpg);" id="director">
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Shaju K Balan
                        </p>
                        <p>
                            Assistant Vice President -
                            Business Development
                        </p>
                    </div>
                </div>
            </div>
            <div class="allitem">
                <div class="blog-allof" style="border: none; background-image: url(images/directors/rakesh.jpg);" id="director">
                    <div class="view">
                        <i class="fas fa-eye"></i>
                    </div>
                    <div class="name" >
                        <p>
                            Rakesh K Venugopal
                        </p>
                        <p>
                            Assistant Vice President -
                            Business Head - Two-Wheeler
                            Loans
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        
    var owl2 = $("#owl-demo2");
        owl2.owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            smartSpeed: 800,
            responsive: {
                0: {
                    items: 1,
                    margin: 15
                },
                600: {
                    items: 2,
                    margin: 20
                },
                1000: {
                    items: 3,
                    margin: 20
                }
            }
        });

        var owl3 = $("#owl-demo3");
        owl3.owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            smartSpeed: 800,
            responsive: {
                0: {
                    items: 1,
                    margin: 15
                },
                600: {
                    items: 2,
                    margin: 20
                },
                1000: {
                    items: 3,
                    margin: 20
                }
            }
        });
        

    </script>