 <link rel="stylesheet" href="~/css/investor/list.css" asp-append-version="true">
 <script src="~/js/investor/investors.js" asp-append-version="true"></script>
 <div class="list-doc">
        <ul>
            <li class="active" id="annual-report">Annual Reports</li>
            <li id="announcements">Announcements</li>
            <li id="investor">Investor Contact</li>
            <li id="public">Public Disclosure</li>
            <li id="forms">Forms for TDS on Dividend</li>
          <!--   <li id="unpaid">Unpaid Dividend</li> -->
            <li id="appointmnet">Appointment Order of Independent Directors
            </li>
         <!--    <li id="digital">Digital Lending Partners</li> -->
        </ul>
        <div class="other">

            <div class="annual-report-content active" id="annual-reports">
            </div>
            <div class="announcements" id="announcement">



            </div>
            <div class="investors-conatct" id="Investors-Contact">
                <!--  -->
            </div>
            <div class="public-disclosure" id="Public-Disclosure">



            </div>

            <div class="form-for-tds" id="Forms-TDS">


            </div>
            <div class="unpaid-divident">
            
            </div>

            <div class="appointment-order" id="appointment-order">


            </div>
            <div class="digital-lending-partners">
                <div class="digital-lending-partners-content">
                    <div class="card">
                        <div class="top">
                            <div class="image">
                                <img src="user.png" alt="" srcset="">
                            </div>
                            <div class="name">
                                <h2>
                                    Dhan Sethu DigiFin Private Limited 
                                </h2>
                             <!--    <p>
                                    EVP& Company Secretary </p> -->
                            </div>
                        </div>
                        <div class="address">
                        <p style="color: black;">Yogakshemam Loans Ltd </p>
                        <p style="color: black;">Kerala Technology Innovation Zone, Kinfra Hi-Tech Park Main Rd</p>
                        <p style="color: black;">HMT Colony P.O., Kalamassery, Kochi, Kerala- 683503  </p>
                     <!--    <p>Phone - 0487 2320102/103 Mob - 9495551922 </p> -->
                     <p style="color: black;">Product : Micro Loan </p>
                     <p style="color: black;">Website : www.svadhan.com</p>
                    </div>
                    </div>
                </div>
               </div>
        </div>
    </div>

    <script>
    var annualreport  = document.getElementById('annual-report');
    var announcements = document.getElementById('announcements');
    var investor = document.getElementById('investor');
    var public =document.getElementById('public');
    var forms = document.getElementById('forms');
   /*  var unpaid = document.getElementById('unpaid'); */
    var appointmnet = document.getElementById('appointmnet');
   /*  var digital = document.getElementById('digital'); */

    // Get all content sections
    var contentSections = document.querySelectorAll('.other > div');

    // Function to hide all content sections
    function hideAllContent() {
        contentSections.forEach(function(section) {
            section.classList.remove('active');
        });
    }

    // Function to remove active class from all list items
    function removeAllActive() {
        annualreport.classList.remove('active');
        announcements.classList.remove('active');
        investor.classList.remove('active');
        public.classList.remove('active');
        forms.classList.remove('active');
       /*  unpaid.classList.remove('active'); */
        appointmnet.classList.remove('active');
       /*  digital.classList.remove('active'); */
    }

    annualreport.onclick=function(){
        removeAllActive();
        hideAllContent();
        annualreport.classList.add('active');
        document.querySelector('.annual-report-content').classList.add('active');
    }
    announcements.onclick= function(){
        removeAllActive();
        hideAllContent();
        announcements.classList.add('active');
        document.querySelector('.announcements').classList.add('active');
    }
    investor.onclick=function(){
        removeAllActive();
        hideAllContent();
        investor.classList.add('active');
        document.querySelector('.investors-conatct').classList.add('active');
    }
    public.onclick=function(){
        removeAllActive();
        hideAllContent();
        public.classList.add('active');
        document.querySelector('.public-disclosure').classList.add('active');
    }
    forms.onclick= function(){
        removeAllActive();
        hideAllContent();
        forms.classList.add('active');
        document.querySelector('.form-for-tds').classList.add('active');
    }
   /*  unpaid.onclick= function(){
        removeAllActive();
        hideAllContent();
        unpaid.classList.add('active');
        document.querySelector('.unpaid-divident').classList.add('active');
    } */
    appointmnet.onclick= function(){
        removeAllActive();
        hideAllContent();
        appointmnet.classList.add('active');
        document.querySelector('.appointment-order').classList.add('active');
    }
   /*  digital.onclick= function(){
        removeAllActive();
        hideAllContent();
        digital.classList.add('active');
        document.querySelector('.digital-lending-partners').classList.add('active');
    } */
</script>