 <link rel="stylesheet" href="~/css/investor/list.css" asp-append-version="true">
 <div class="list-doc">
        <ul>
            <li class="active" id="annual-report">Annual Reports</li>
            <li id="announcements">Announcements</li>
            <li id="investor">Investor Contact</li>
            <li id="public">Public Disclosure</li>
            <li id="forms">Forms for TDS on Dividend</li>
            <li id="unpaid">Unpaid Dividend</li>
            <li id="appointmnet">Appointment Order of Independent Directors
            </li>
            <li id="digital">Digital Lending Partners</li>
        </ul>
        <div class="other">

            <div class="annual-report-content active">

                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport2023-24.pdf', '_blank')">

                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2023 - 2024
                        </p>
                    </div>
                </div>


                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport2022-21.pdf', '_blank')">

                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2022 - 2023
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport-2021-22.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2021 - 2022
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport-2020-21.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2020 - 2021
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/announcement/Yogloans-AnnualReport2017-2018.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2017 - 2018
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport2016-17.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2016 - 2017
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport2015-16.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2015 - 2016
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/announcement/AnnualReport-2014-15.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            2014 - 2015
                        </p>
                    </div>
                </div>
            </div>
            <div class="announcements">




                <div class="reports" onclick="window.open('images/pdf/investor/annual/egm.pdf', '_blank')">

                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>


                            EGM Notice

                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/33rdScrutinizerReport.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            33rdScrutinizerReport
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/33rdAGMNotice.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            33rdAGMNotice
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/ScrutinizerReportSummary2023.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            ScrutinizerReportSummary2023
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/32ndScrutinizerReport.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            32nd Scrutinizer Report
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/32ndAGMNotice.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            32nd AGM Notice
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/ScrutinizerReportSummary2023.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            EGM Scrutinizer Summary Report 15th March 2023
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/annual/31stAGMNotice2021-2022.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            31st AGM Notice 2021-2022
                        </p>
                    </div>
                </div>
            </div>
            <div class="investors-conatct">
                <div class="investors-conatct-content">
                    <div class="card">
                        <div class="top">
                            <div class="image">
                                <img src="images/directors/rajesh.jpg" alt="" srcset="">
                            </div>
                            <div class="name">
                                <h2>
                                    Mr.Rajesh Kumar.K Pillai
                                </h2>
                                <p>
                                    EVP& Company Secretary </p>
                            </div>
                        </div>
                        <div class="address">
                            <p style="color: black;">Yogakshemam Loans Ltd </p>
                            <p style="color: black;">3rd Floor , Ottappath Tower </p>
                            <p style="color: black;">Aswini Junction,Thrissur, Kerala-680022 </p>
                            <p style="color: black;">Phone - 0487 2320102/103 Mob - 9495551922 </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="public-disclosure">




                <div class="reports" onclick="window.open('images/pdf/investor/publicdis/LiquidityRiskasonjune302021.pdf', '_blank')">

                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>


                            Liquidity Risk as on June 30 2021.

                        </p>
                    </div>
                </div>

            </div>

            <div class="form-for-tds">




                <div class="reports" onclick="window.open('images/pdf/investor/forms/tds.pdf', '_blank')">

                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>


                            Applicable Tax Deduction at Source (TDS)
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/FORM15G.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            FORM 15G
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/FORM15H.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            FORM 15H
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/FORM10F.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            FORM 10F
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/ResidentTaxDeclaration.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Resident Tax Declaration
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/Non-ResidentTaxDeclaration.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Non-Resident Tax Declaration
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/SelfDeclarationforavailmentofTreatyBenefit.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Self Declaration for availment of Treaty Benefit
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/JointShareholdersDeclaration.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Joint Shareholders' Declaration
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/forms/DeclarationUnderRule37BC.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Declaration Under Rule 37BC
                        </p>
                    </div>
                </div>
            </div>
            <div class="unpaid-divident">
                <div class="unpaid-divident-content">
                    <p style="color: black;">No Data</p>
                </div>
            </div>

            <div class="appointment-order">




                <div class="reports" onclick="window.open('images/pdf/investor/appoi/anoopg.pdf', '_blank')">

                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>


                            Mr. Anoop G
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/appoi/Pushpangadan.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Mr. Pushpangadan M
                        </p>
                    </div>
                </div>
                <div class="reports" onclick="window.open('images/pdf/investor/appoi/SantoshKurup.pdf', '_blank')">
                    <div class="img">
                        <img src="images/icon/pdf.png" alt="PDF Icon">
                    </div>
                    <div class="detail">
                        <p>
                            Mr. Santosh Kurup
                        </p>
                    </div>
                </div>
               
                
            </div>
            <div class="digital-lending-partners">
                <div class="digital-lending-partners-content">
                    <div class="card">
                        <div class="top">
                            <div class="image">
                                <img src="user.png" alt="" srcset="">
                            </div>
                            <div class="name">
                                <h2>
                                    Dhan Sethu DigiFin Private Limited 
                                </h2>
                             <!--    <p>
                                    EVP& Company Secretary </p> -->
                            </div>
                        </div>
                        <div class="address">
                        <p style="color: black;">Yogakshemam Loans Ltd </p>
                        <p style="color: black;">Kerala Technology Innovation Zone, Kinfra Hi-Tech Park Main Rd</p>
                        <p style="color: black;">HMT Colony P.O., Kalamassery, Kochi, Kerala- 683503  </p>
                     <!--    <p>Phone - 0487 2320102/103 Mob - 9495551922 </p> -->
                     <p style="color: black;">Product : Micro Loan </p>
                     <p style="color: black;">Website : www.svadhan.com</p>
                    </div>
                    </div>
                </div>
               </div>
        </div>
    </div>

    <script>
    var annualreport  = document.getElementById('annual-report');
    var announcements = document.getElementById('announcements');
    var investor = document.getElementById('investor');
    var public =document.getElementById('public');
    var forms = document.getElementById('forms');
    var unpaid = document.getElementById('unpaid');
    var appointmnet = document.getElementById('appointmnet');
    var digital = document.getElementById('digital');

    // Get all content sections
    var contentSections = document.querySelectorAll('.other > div');

    // Function to hide all content sections
    function hideAllContent() {
        contentSections.forEach(function(section) {
            section.classList.remove('active');
        });
    }

    // Function to remove active class from all list items
    function removeAllActive() {
        annualreport.classList.remove('active');
        announcements.classList.remove('active');
        investor.classList.remove('active');
        public.classList.remove('active');
        forms.classList.remove('active');
        unpaid.classList.remove('active');
        appointmnet.classList.remove('active');
        digital.classList.remove('active');
    }

    annualreport.onclick=function(){
        removeAllActive();
        hideAllContent();
        annualreport.classList.add('active');
        document.querySelector('.annual-report-content').classList.add('active');
    }
    announcements.onclick= function(){
        removeAllActive();
        hideAllContent();
        announcements.classList.add('active');
        document.querySelector('.announcements').classList.add('active');
    }
    investor.onclick=function(){
        removeAllActive();
        hideAllContent();
        investor.classList.add('active');
        document.querySelector('.investors-conatct').classList.add('active');
    }
    public.onclick=function(){
        removeAllActive();
        hideAllContent();
        public.classList.add('active');
        document.querySelector('.public-disclosure').classList.add('active');
    }
    forms.onclick= function(){
        removeAllActive();
        hideAllContent();
        forms.classList.add('active');
        document.querySelector('.form-for-tds').classList.add('active');
    }
    unpaid.onclick= function(){
        removeAllActive();
        hideAllContent();
        unpaid.classList.add('active');
        document.querySelector('.unpaid-divident').classList.add('active');
    }
    appointmnet.onclick= function(){
        removeAllActive();
        hideAllContent();
        appointmnet.classList.add('active');
        document.querySelector('.appointment-order').classList.add('active');
    }
    digital.onclick= function(){
        removeAllActive();
        hideAllContent();
        digital.classList.add('active');
        document.querySelector('.digital-lending-partners').classList.add('active');
    }
</script>