<link rel="stylesheet" href="~/css/Gold/benefit.css" asp-append-version="true">
    <div class="benefit">
        <div class="right">
            <div class="card-item">
                <div class="card-content">
                <h3>Make repayment online at your convenience </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>Quick Processing</span>
                </p>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>Minimal Documentation</span>
                </p>
                
                </div>
            </div>
            <div class="card-item">
                <div class="card-content">
                <h3>Daily collection facility.  </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        
Finance is available up to the full on-road price for eligible customers, with minimal upfront payment. 
                    </span>
                </p>
            </div>
            </div>  
            <div class="card-item">
                <div class="card-content">
                <h3>Renewal may be done after the 26th week of disbursement for eligible customers.  </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                       
Eligible customers can avail finance up to the full on-road price, along with flexible tenure, top-up, and daily collection facilities. 
                    </span>
                </p>
            </div>
            </div>
            <div class="card-item">
                <div class="card-content">
                <h3>Minimal Documentation </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                            <span>
                                We require minimal documentation, including your identity proof, address proof, and gold item details.
                            </span>
                </p>
            </div>
            </div>
            <div class="card-item">
                <div class="card-content">
                <h3>Flexible repayment options </h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        Choose from various repayment options, including monthly, quarterly, or yearly installments, to suit your financial needs.
                    </span>
                </p>
            </div>
            </div>
              <div class="card-item">
                <div class="card-content">
                <h3>Digitised Process</h3>
                <p>
                    <i class="fas fa-check-circle"></i>
                    <span>
                        We offer a digitised process for a seamless and hassle-free experience.
                    </span>
                </p>
            </div>
            </div>
        </div>
    </div>