  
  <link rel="stylesheet" href="~/css/Gold/section.css" asp-append-version="true">
     <section class="gold-info-section">
        <div class="gold-info-container">
          <!--   <div class="gold-description">
                <p>Business Loan is a small value unsecured loan granted to individuals engaged in retail trade for development of their business for augmenting the working capital and/or for meeting capital expenditure. </p>
            </div> -->
            <div class="gold-features-and-button">
                <div class="gold-features">
                    <div class="feature">
                        <img src="images/icon/checklist.png" alt="Quick Processing">
                        <span>
                            Low interest rate.  </span>
                    </div>
                <!--     <div class="feature">
                        <img src="images/icon/checklist.png" alt="Minimal Documentation">
                        <span> Unsecured upto Rs.200000 for eligible customers. </span>
                    </div> -->
                    <div class="feature">
                        <img src="images/icon/checklist.png" alt="Competitive Rates">
                        <span>
                            
Papper Less Documentation  </span>
                    </div>
                </div>
                <div class="apply-button">
                    <button onclick="window.location.href='apply.html'">Apply Now →</button>
                </div>
            </div>
        </div>
    </section>