 <section class="welcome-container"
        style="background-image: url(images/welcome/cdn.jpg);">
        <h1 >CD Loan
            </h1>
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - CD Loan</a></p>
     </div>

    </section>
    <style>
        a{
                color: white;
                text-decoration: none;
        }
         

        .welcome-container{
            height: 300px;
        }

    </style>