 <link rel="stylesheet" href="~/css/about/about.css" asp-append-version="true">
 <div class="client-counts">
        <div class="content">
            <div class="item" style="display: flex; justify-content: center;">
                <p style="text-align: center;">615 cr</p>
                <p>Asset Under Management </p>
            </div>
            <div class="item">
                <p>65,000 +</p>
                <p>Happy Customers </p>
            </div>
            <div class="item">
                <p>1,000 +</p>
                <p>Employee Strength </p>
            </div>
            <div class="item">
                <p>168 +</p>
                <p>Branches </p>
            </div>
        </div>
    </div>