    <link rel="stylesheet" href="~/css/about/aboutcontainer.css" asp-append-version="true">
    <section class="about-container">
        <div class="content">
            <h1>
                What Are We
            </h1>
            <p>
                Yogakshemam Loans Limited (formerly Yogakshemam Kuries & Loans Private Limited) had its modest beginning in the unassuming environs of Anthikad, a small village in the Thrissur district of Kerala State in the year 1991. The company was registered as a Non Banking Financial Company with the Reserve Bank of India in the year 2000 – 01. The Company having shifted its base to the heart of Thrissur Town currently operates in the 4 Southern States of Kerala, Tamil Nadu, Karnataka and Andhra Pradesh has 169 branches. Originally promoted by Mr. N D Narayanan, a native of Thrissur, the Company and its promoters teamed up with Mr. Unnikrishnan I., a Chartered Accountant by qualification & a former MD of a leading NBFC and Mr. Ramachandran Ottapath, a Chartered Accountant by qualification and the current CEO of Choppies Group, Botswana in the year 2015. Further augmenting the capital base of the company to broad base its products offerings and to go for spatial expansion beyond Kerala Mr. I Unnikrishnan, Managing Director & CEO was named its Promoter. The strong legacy of the Company and its Management in the Gold Loan Sector has helped leverage and diversify its product offering to a variety of financial products in addition to gold loan. The objective of the company is to become a well-recognised NBFC with a diversified asset class. 
            </p>
        </div>
    </section>