 <link rel="stylesheet" href="~/css/about/welcome.css" asp-append-version="true">
 <section class="welcome-container"
    style="background-image: url(images/welcome/colleagues-working-project-discussing-details.jpg)">
        <h1 id="header">About Us</h1>
 
 <div class="button">
        <p><a href="/">Home</a>  <a href=""> - About Us</a></p>
     </div>

    </section>
    
    <style>
        .welcome-container{
            height: 300px;
        }
    </style>