 <section class="welcome-container"
        style="background-image: url(images/welcome/investors.jpg);">
        <h1 >Online Services
            </h1><!--    <p id="sub">Experience Door Step Gold Loan Services</p>  -->
    <div class="button">
        <p><a href="/">Home</a>  <a href=""> - Online Services</a></p>
     </div>

    </section>

    <style>
        .welcome-container{
            height: 300px;
        }
    </style>