  

  <link rel="stylesheet" href="~/css/csr/reportcard.css" asp-append-version="true">
    <div class="report-cards">

        <div class="section">
          <div class="section-item">
            <h3>CSR Committee</h3>
            <table>
              <thead>
                <tr>
                  <th>SL No</th>
                  <th>DIN</th>
                  <th>Name</th>
                  <th>Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>01773417</td>
                  <td>Unnikrishnan I</td>
                  <td>Chairman</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>03430618</td>
                  <td>Ramachandran Ottappath</td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>08529412</td>
                  <td>Poiyakulath Neelambaran Unnirajan</td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>01667572</td>
                  <td>Pushpangadan Mangari</td>
                  <td>Member</td>
                </tr>
              </tbody>
            </table>
            <div class="pdf">
              <a href="images/pdf/csr/CSRCommittee.pdf" target="_blank">Download PDF</a>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>Approved CSR Policy  </h3>
            <p>The company sincerely believe that its development and social developments are
              interdependent. As the organisation grows with its routes deep in to the socio
              economic ecosystem of its periphery, it shall consciously contribute within its own
              resources and capabilities for the wellbeing and sustainability of the social organs.
              The policy is framed with an objective to structure its responsibilities to the society
              and to act as the guiding principles in its endeavour to support on projects and
              programs of social relevance. This policy shall also meet the statutory/ regulatory
              expectation</p>
              <div class="pdf">
                <a href="images/pdf/csr/approvedCSRPolicy.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
              <h3>CSR Project 2020-21</h3>
            <!--   <p>The Reserve Bank of India (RBI) has come up with a frame work for Compromise
              Settlements and Technical Write-offs of loan account wide its circular No
              DOR.STR.REC.20/21.04.048/2023-24 dated 8th June 2023. The Circular is applicable for all
              NBFCs . Under this frame work the Company shall put in place a Board approved policy for
              compromise settlements with borrowers and for technical write offs</p> -->
              <table>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Head of Expenditure under CSR Policy</th>
                    <th>Amount Spent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>promoting health care including preventive
                      health care</td>
                    <td>RS.1,90,000</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Setting up old age homes, day care centres and
                      such other facilities for senior citizens and
                      measures for reducing inequalities faced by
                      socially and economically backward groups</td>
                    <td>Rs. 2,62,300</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Contribution to the prime minister's national
                      relief fund 8[or Prime Minister's Citizen
                      Assistance and Relief in Emergency Situations
                      Fund (PM CARES Fund)] or any other fund set
                      up by the central govt. for socio economic
                      development and relief and welfare of the
                      schedule caste, tribes, other backward classes,
                      minorities and women;</td>
                    <td>Rs.404000</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Total Spent 2020-2021</td>
                    <td>Rs.856300/-</td>
                  </tr>
                </tbody>
              </table>
              <div class="pdf">
                <a href="images/pdf/csr/CSRProject2020-21.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>CSR Project 2021-22 </h3>
          <!--   <p>T2
              Preamble,
              This policy has been framed as required under the Master Circular issued by Reserve Bank of
              India vide circular DNBS..PD.CC No.054 / 03.10.119 / 2015-16 dated 1st July 2015 and stand
              amended in terms of the Master Direction- RBI (NBFC Scale Based Regulation)
              Directions,2023 RBI/DoR/2023-24/105 dated October 19, 2023. This policy will be the
              guiding principles for determination of interest and other charges to be levied while
              transacting its business.</p> -->
              <table>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Head of Expenditure under CSR Policy</th>
                    <th>Amount Spent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Promoting health care including preventive
                      health care</td>
                    <td>Rs.5,88,261</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Promoting education, including special
                      education and employment enhancing
                      vocation skills especially among children,
                      women, elderly and the differently abled and
                      livelihood enhancement projects.</td>
                    <td>Rs.6,91,206</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Setting up old age homes, day care centres
                      and such other facilities for senior citizens
                      and measures for reducing inequalities faced
                      by socially and economically backward
                      groups</td>
                    <td>Rs.1,00,000</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>TContribution to the prime minister's national
                      relief fund 8[or Prime Minister's Citizen
                      Assistance and Relief in Emergency
                      Situations Fund (PM CARES Fund)] or any
                      other fund set up by the central govt. for
                      socio economic development and relief and
                      welfare of the schedule caste, tribes, other
                      backward classes, minorities and women</td>
                    <td>Rs.1,78,423</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Total Amount spent</td>
                    <td>Rs.15,57,890/</td>
                  </tr>
                </tbody>
              </table>
              <div class="pdf">
                <a href="images/pdf/csr/CSRProject2021-22.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>CSR Project 2022-23 </h3>
            <!-- <p>The Loan Policy shall act as a guiding post for the top management of the Company in conducting
              the business of lending within acceptable risk tolerances and thus ensure the evolution of a
              sustainable business model resulting in both long term profitability and value creation for its stake
              holders.</p> -->
              <table>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Head of Expenditure under CSR Policy</th>
                    <th>Amount Spent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Promoting health care including preventive
                      health care</td>
                    <td>Rs.1,59,508</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Promoting education, including special
                      education and employment enhancing
                      vocation skills especially among children,
                      women, elderly and the differently abled and
                      livelihood enhancement projects</td>
                    <td>Rs.14,49,920</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Contribution to the prime minister's national
                      relief fund 8[or Prime Minister's Citizen
                      Assistance and Relief in Emergency
                      Situations Fund (PM CARES Fund)] or any
                      other fund set up by the central govt. for
                      socio economic development and relief and
                      welfare of the schedule caste, tribes, other
                      backward classes, minorities and women</td>
                    <td>Rs.1,43,747</td>
                  </tr>
                 
                  <tr>
                    <td></td>
                    <td>Total Amount spent</td>
                    <td>Rs.17,53,175</td>
                  </tr>
                </tbody>
              </table>
              <div class="pdf">
                <a href="images/pdf/csr/CSRProject2022-23.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>CSR Project 2023-24 </h3>
           <!--  <p> The core business of YOGAKSHEMAM LOANS Ltd (the Company) consists of lending against
              the collateral security of gold ornaments (gold), normally "Household Used Jewellery" (HUJ). The
              inherent strength in such security is that it ensures automatic and prompt repayment of loans on the
              basis of the presumed "emotional attachment" of the borrower to such HUJ</p> -->
              <table>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Head of Expenditure under CSR Policy</th>
                    <th>Amount Spent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Promoting health care including preventive
                      health care</td>
                    <td>Rs.284726</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Promoting education, including special
                      education and employment enhancing
                      vocation skills especially among children,
                      women, elderly and the differently abled and
                      livelihood enhancement projects</td>
                    <td>Rs.12,01,159</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Eradicating hunger poverty and malnutrition</td>
                    <td>Rs.1,20,000</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Setting up homes and hostels for women's
                      and orphans</td>
                    <td>Rs.3,00,000</td>
                  </tr>
                 
                  <tr>
                    <td></td>
                    <td>Total Amount spent</td>
                    <td>Rs.19,05,885</td>
                  </tr>
                </tbody>
              </table>
              <div class="pdf">
                <a href="images/pdf/csr/CSRProject2023-24.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
        <div class="section">
          <div class="section-item">
            <h3>CSR Project 2024-25  </h3>
            <!--
            <p>This policy on appropriation of profit and Declaration of dividend is framed to act as guiding
              principles for appropriation and distribution of profit of the company for different purposes.
              Reserve Bank of India (RBI) has issued a circular No.
              DOR.ACC.REC.No.23/21.02.067/2021-22 dated 24th June 2021 putting in place certain
              guidelines on distribution of dividend by NBFC and this policy is in line with the said
              circular.</p> -->
              <table>
                <thead>
                  <tr>
                    <th>SI.No</th>
                    <th>Head of Expenditure under CSR Policy</th>
                    <th>Amount Spent</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Promoting Health Care including
                      preventive health care.<br>
                      1)Supply of medicine to Pain & Palliative Care
                      for their renal patient.<br>
                      2)Financial Support to a child name
                      Adhikrishnan T.A, suffering from Cerebral
                      Palsy.<br>
                      3)Financial Support to Nandakrishna,
                      suffering from traumatic brain injury.<br>
                      4) )Financial support to child suffering from
                      PAMI Syndrome type of Blood Cancer<br>
                      5)Financial support to Subhash Kidney
                      Patient.</td>
                    <td>Rs.2,50,000<br>
                      Rs.50,000<br>
                      Rs.30,000<br>
                      Rs.25000<br>
                      Rs.25000</td>
                      <td>Rs.3,80,000</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Setting up homes and hostels for women's
                      and orphans.<br>
                      1)Financial support to Sevasadanan for
                      completetion of their building project. </td>
                    <td>Rs.6,00,000</td>
                    <td>Rs.6,00,000</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Promoting education including special
                      education.<br>
                      1)Donation to ATMA foundation for
                      education for girls lacking parental support and
                      are financially week.<br>
                      2)Payment to Insight a special school &
                      vocational training centre for storing the training
                      equipment of the students.<br>
                      3)Payment to TMA Thrissur Management
                      Association strengthen their student
                      development programs for enhancing
                      employability, fostering entrepreneurial thinking,
                      and equipping students</td>
                    <td>Rs.1,00,000<br>
                      Rs.1,00,000<br>
                      Rs.2,00,000</td>
                      <td>Rs.4,00,000</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Financial support for training rural sports
                      and nationally recognised sports.<br>
                      1)Payment to Navya Kanderi who is a member
                      sof Badminton Association of India and hold
                      RAI Ranking(3rd in India under -19) and BWF
                      Ranking(13th in the world under-19)</td>
                    <td>Rs.25000</td>
                    <td>Rs.25,000</td>
                  </tr>
                 
                  <tr>
                    <td></td>
                    <td>Total Amount spent</td>
                    <td></td>
                    <td>Rs.14,05,000</td>
                  </tr>
                </tbody>
              </table>
              <div class="pdf">
                <a href="images/pdf/csr/CSRProject2024-25.pdf" target="_blank">Download PDF</a>
              </div>
          </div>
        </div>
   
  </div>