<section class="welcome-container"
        style="background-image: url(images/welcome/hands-holding-earth-csr-business-campaign.jpg);">
        <h1 >CSR
            </h1><!--    <p id="sub">Experience Door Step Gold Loan Services</p>  -->
    <div class="button">
             <p><a href="/">Home</a>  <a href=""> - CSR</a></p>
     </div>

    </section>
    <style>
        a{
                color: white;
                text-decoration: none;
        }
         

        .welcome-container{
            height: 300px;
        }

    </style>